@import '@/styles/colors';

.header {
  margin: 0 auto;
  width: 160rem;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100lvh;
  padding: 4rem 0;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    min-height: auto;
  }
}

/* Styles for header text */

.textWrapper {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;

  @media (max-width: 960px) {
    width: 24rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  @media (min-width: 601px) and (max-width: 720px) {
    width: 19rem;
    padding: 1rem;
  }

  @media (max-width: 600px) {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 2rem;
    align-items: flex-start;
  }
}

.text{
  width: 25rem;
  @media (max-width: 1128px) {
    width: 20rem;
  }
  @media (max-width: 960px) {
    width: 100%;
  }
}

.text .preHeadline {
  font-size: 1.1rem;
  color: $light-grey-color;
  margin: 1rem 0;

  @media (max-width: 600px) {
    margin-top: 0;
  }
}

.text h1 {
  font-family: "Roboto Mono", "Roboto", sans-serif;
  font-weight: normal;
  font-size: 3.1rem;
  margin: 1rem 0;

  @media (max-width: 1128px) {
    font-size: 2.5rem;
  }

  @media (max-width: 960px) {
    font-size: 2.5rem;
  }

  @media (min-width: 601px) and (max-width: 720px) {
    font-size: 2.1rem;
  }
}

.text .slogan {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: $light-grey-color;
  margin: 1rem 0;

  @media (min-width: 601px) and (max-width: 720px) {
    font-size: 1.4rem;
  }
}

.text button {
  font-size: 1.1rem;
  margin: 1rem 0;
}

/* Styles for header image */

.imageWrapper {
  position: relative;
  width: 40%;
  max-height: calc(100dvh - 8rem);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  position: relative;

  @media (max-width: 960px) {
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  @media (max-width: 800px) {
    padding: 0 1rem;
  }

  @media (max-width: 600px) {
    max-height: none;
    align-items: center;
    width: 100%;
    padding: 2rem;
  }
}

.imageWrapper img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;

  @media (max-width: 960px) {
    object-position: center center;
  }
}

.icons{
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.icons a{
  color: inherit;
}

.spacer{
  width: 1rem;
}