@import '../colors';

.text {
  position: relative;
  max-width: 35rem;
  box-sizing: border-box;
}

.text h2 {
  font-size: 3.1rem;
  margin: 0.8rem 0;
}

.text hr {
  position: relative;
  align-self: flex-start;
  transform: translate(-2em);
  width: 50%;
  margin: 1rem 0;
}

.text p {
  font-size: 1.1rem;
  color: $light-grey-color;
}
