.career{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.timestamps{
    width: 100%;
    max-width: 70em;
    position: relative;
    margin: 2rem 0;
    box-sizing: border-box;
    padding: 0.1rem 0;
}

.timeline{
    position: absolute;
    top: 0;
    left: 2rem;
    width: 0.2rem;
    translate: -0.1rem 0;
    height: 100%;
    background: white;
    border-radius: 0.1rem;
    z-index: 100;
}
.arrowHead{
    position: absolute;
    top: 0.05rem;
    left: 50%;
    translate: -50% 0;
    transform-origin: center;
    transform: rotate(45deg);
    border-left: solid 0.2rem white;
    border-top: solid 0.2rem white;
    width: 1.5rem;
    height: 1.5rem;
}

.timestamp {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem 0;
    padding: 2rem;

    background-color: #2f2f2fa6;  
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    border-radius: 0.8rem;
}

.time{
    position: relative;
    font-size: 1.2rem;
    min-width: 7rem;
    padding-left: 1.5rem;
    margin-top: 0.2rem;
}

.time::before{
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
    top: 0.8rem;
    left: 0;
    translate: -50% -50%;
    border-radius: 50%;
}

.timestamp .description{
    margin-left: 5rem;
}

.timestamp .description h3{
    margin: 0;
    font-size: 1.4rem;
}

.timestamp .description p{
    margin: 0;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.timestamp .description ul{
    margin: 0;
    margin-top: 1rem;
    font-size: 1.1rem;
}