.cursor{
    position:relative;
    top:-0.1rem;
    animation: cursor 1s infinite;
    animation-timing-function: ease-in-out;
    font-family: 'Roboto';
  }
  
  @keyframes cursor {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  } 