@import "@/styles/colors.scss";

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background: $dark-blue-color;
  @media (max-width: 450px) {
    height: 8rem;
  }
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 450px) {
    flex-direction: column;
  }
}

.footer .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  font-size: 1.1rem;

  @media (max-width: 560px) {
    margin: 0 1rem;
  }
}

.footer svg {
  font-size: 1.5rem;
}
